.header {
  padding: 20px 0;
  .container,
  .header__items,
  .header__socialLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logotype {
    font-size: 20px;
    font-weight: 400;
    line-break: 2px;
    color: var(--color-important);
  }
  &__item {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__socialLink {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}
