/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --color-link: #525252;
  --color-link-two: #0fa7ff;
  --color-hover: #161616;
  --color-active: #ffb74c;
  --color: #161616;
  --bg-color: #fff;
  --bg-color-two: #f5f5f5;
  --color-grey: #d5d5d5;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 16px;
}


.robot{
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}

.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

ul,
ol {
  list-style-type: none;
}
a {
	text-decoration: none;
  color: var(--color-link);
  transition: 0.3s;
  position: relative;
  &:hover {
    color: var(--color-hover);
  }
}

.title{
  font-size: 24px;
  font-weight: 700;
  color: var(--color-active);
  margin-bottom: 10px;
}

.line{
  display: block;
  width: 150px;
  height: 1px;
  background-color: var(--color-active);
  position: relative;
  margin: 30px auto 50px;
  &::before{
    position: absolute;
    content: "";
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    transform: translate(265%, -50%);
    border: 1px solid var(--color-active);
  }
  &::after{
    position: absolute;
    content: "";
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-256%, -50%);
    border: 1px solid var(--color-active);
  }
}

.subtitle{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.btn{
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  outline: none;
  color: var(--bg-color);
  font-weight: 700;
  font-size: 16px;
  transition: .3s;
  background-color: var(--color-active);
  cursor: pointer;
  &:hover{
    background-color: var(--color-link);
  }
}

.progress-bar{
  width: 600px;
  height: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-grey);
  position: relative;
  background-color: var(--bg-color-two);
  overflow: hidden;
  &__line{
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-active);
  }
}